<nav class="navbar navbar-dark navbar-expand-lg" style="background: #000000;">
    <a class="navbar-brand" href="#">STRIDE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Choose A Balloon</a>
        </li>

      </ul>

    </div>
  </nav>
  <div class="container-fluid " style="min-height:91.5vh; background-image:url('../../assets/uoftballoon.jpg') !important; background-repeat: no-repeat;background-size:cover; background-position: bottom 100px;
  opacity: 1;">
  <div class="row">
    <div class="col-8">
      <h4>heading</h4>

    </div>

  </div>
          </div>

    <div>
      asdasdas
      
    </div>
