.post {
    background-image: linear-gradient(#C2C2C2,#FFFFFF);
  }
  
  .centering{
    text-align: center;
    font-family: font92685;
  }
  
  .title h1{
    padding-bottom: 50;
    font-size: 5em;
    font-weight: bolder;
    padding-top: 30;
    font-family: font92685;
  }
  .image {
    max-height: 300;
    max-width: 0;
  }
  
  .post-title h3{
    padding-bottom: 20;
    font-size: 2em;
    text-align: center;
    font-weight: normal;
  }
  
  .post-title .description{
    text-align:justify;
    padding-left: 20;
    line-height: 2;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 50;
  
  }
  
  .caorusel-item{
    max-height: 50;
  }
  
  .carousel-inner{
    max-height: 500;
  }
  